{
	"env": {
		"browser": true,
		"es2021": true,
		"node": true
	},
	"extends": [
		"eslint:recommended",
		"plugin:react/recommended",
		"plugin:prettier/recommended"
	],
	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true
		},
		"ecmaVersion": "latest",
		"sourceType": "module"
	},
	"plugins": [
		"react"
	],
	"rules": {
		"indent": [
			"error",
			2,
			{
				"SwitchCase": 1,
				"ignoredNodes": [
					"ConditionalExpression"
				]
			}
		],
		"linebreak-style": [
			"error",
			"windows"
		],
		"semi": [
			"error",
			"always"
		],
		"react/jsx-uses-react": "off",
		"react/react-in-jsx-scope": "off",
		"prettier/prettier": [
			"error",
			{
				"semi": true,
				"endOfLine": "auto",
				"trailingComma": "none",
				"tabWidth": 2,
				"printWidth": 100,
				"singleQuote": false,
				"jsxSingleQuote": false,
				"quoteProps": "consistent",
				"bracketSpacing": true,
				"bracketSameLine": true,
				"arrowParens": "always",
				"singleAttributePerLine": false
			}
		],
		"curly": [
			"error",
			"all"
		],
		"lines-around-comment": [
			"error",
			{
				"beforeBlockComment": true,
				"afterBlockComment": true,
				"beforeLineComment": true,
				"afterLineComment": true,
				"allowBlockStart": true,
				"allowBlockEnd": true,
				"allowObjectStart": true,
				"allowObjectEnd": true,
				"allowArrayStart": true,
				"allowArrayEnd": true
			}
		],
		"no-confusing-arrow": [
			"error",
			{
				"allowParens": false
			}
		],
		"no-mixed-operators": "error",
		"no-tabs": [
			"error",
			{
				"allowIndentationTabs": true
			}
		],
		"no-unexpected-multiline": "error",
		"quotes": [
			"error",
			"double",
			{
				"avoidEscape": true,
				"allowTemplateLiterals": false
			}
		],
		"no-restricted-syntax": [
			"error",
			"SequenceExpression"
		]
	}
}