#header-container {
  color: #fcffff;
  padding: 0px 0px;
  margin: 0px 0px;
}

#navbar-button {
  border-width: 2px;
  border-color: #fcffff;
}

#navbar-icon {
  color: #fcffff !important;
}

#navbar-link {
  color: #fcffff !important;
}

#navbar-link a.active {
  color: #bccdaf !important;
}
