#skip-button {
    transition:
        transform 0.15s linear 0s,
        text-shadow 0.15s linear 0s;
}

#skip-button:hover {
    transform: translate(-3px, -3px);
    text-shadow: 3px 3px #00000044;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0.15;
    }
}

#continue-label {
    animation: blink 0.65s ease-in 0s infinite alternate;
}